.app-container {
  margin-top: 50px;
}

.upload-container {
  max-width: 500px;
  margin: 0 auto;
}

.standard-button {
  max-width: 150px;
  height: fit-content;
}

.uploadsubs-container {
  max-width: 300px;
}

.subtitle-container {
  max-height: 400px;
  overflow-x: scroll;
  background-color: darkslategrey;
}

.subtitle-line {
  display: block;
  color: white;
}

.subtitle-playing {
  display: block;
  color: red;
}

.audio-container {
  margin-top: 50px;
}

.recording-button {
  background-color: darkred;
}
